<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sessionFactory"
          class="ru.Pavelslavovich.webprak.config.HibernateUtil"
          factory-method="getSessionFactory"/>

    <bean id="clientDao" class="ru.Pavelslavovich.webprak.dao.ClientDao">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="employeeDao" class="ru.Pavelslavovich.webprak.dao.EmployeeDao">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="serviceDao" class="ru.Pavelslavovich.webprak.dao.ServiceDao">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="serviceContractDao" class="ru.Pavelslavovich.webprak.dao.ServiceContractDao">
        <constructor-arg ref="sessionFactory"/>
    </bean>
</beans>
